INT0010.4PS.Services/INT0010.4PS.Services/Connected Services/InvoWS/InvoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/InvoWS" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/InvoWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/InvoWS" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CreateAndUpdateProject">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateAndUpdateProject_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateAndUpdateProjectExtension">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateAndUpdateProjectExtension_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CreateAndUpdateProject">
    <part name="parameters" element="tns:CreateAndUpdateProject" />
  </message>
  <message name="CreateAndUpdateProject_Result">
    <part name="parameters" element="tns:CreateAndUpdateProject_Result" />
  </message>
  <message name="CreateAndUpdateProjectExtension">
    <part name="parameters" element="tns:CreateAndUpdateProjectExtension" />
  </message>
  <message name="CreateAndUpdateProjectExtension_Result">
    <part name="parameters" element="tns:CreateAndUpdateProjectExtension_Result" />
  </message>
  <portType name="InvoWS_Port">
    <operation name="CreateAndUpdateProject">
      <input name="CreateAndUpdateProject" message="tns:CreateAndUpdateProject" />
      <output name="CreateAndUpdateProject_Result" message="tns:CreateAndUpdateProject_Result" />
    </operation>
    <operation name="CreateAndUpdateProjectExtension">
      <input name="CreateAndUpdateProjectExtension" message="tns:CreateAndUpdateProjectExtension" />
      <output name="CreateAndUpdateProjectExtension_Result" message="tns:CreateAndUpdateProjectExtension_Result" />
    </operation>
  </portType>
  <binding name="InvoWS_Binding" type="tns:InvoWS_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="CreateAndUpdateProject">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/InvoWS:CreateAndUpdateProject" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateAndUpdateProject">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateAndUpdateProject_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateAndUpdateProjectExtension">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/InvoWS:CreateAndUpdateProjectExtension" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateAndUpdateProjectExtension">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateAndUpdateProjectExtension_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="InvoWS">
    <port name="InvoWS_Port" binding="tns:InvoWS_Binding">
      <address location="http://no-sr-ap-85:7047/NO_NST_4PS_Test_2017_04_WS_NO/WS/Imtech%20Norge%20AS/Codeunit/InvoWS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>