INT0010.4PS.Services/INT0010.4PS.Services/Connected Services/ImdokWS/ImdokWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/ImdokWS" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ImdokWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ImdokWS" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="GetInvoicePictureCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetInvoicePictureCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetInvoicePicture">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pictureIndex" type="int" />
            <element minOccurs="1" maxOccurs="1" name="picture" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetInvoicePicture_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="picture" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePrognosisCC">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="strFromImdok" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePrognosisCC_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SetPrognosisToFixed">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="strFromImdok" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SetPrognosisToFixed_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePrognosisCC">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="strFromImdok" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePrognosisCC_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="ProcessIPS">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="id" type="int" />
            <element minOccurs="1" maxOccurs="1" name="key1" type="string" />
            <element minOccurs="1" maxOccurs="1" name="key2" type="string" />
            <element minOccurs="1" maxOccurs="1" name="key3" type="string" />
            <element minOccurs="1" maxOccurs="1" name="value1" type="string" />
            <element minOccurs="1" maxOccurs="1" name="value2" type="string" />
            <element minOccurs="1" maxOccurs="1" name="value3" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ProcessIPS_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="ReleaseHourAcc">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ReleaseHourAcc_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateSubProjectFromMainProject">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateSubProjectFromMainProject_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePriceToInvoiceInJob">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePriceToInvoiceInJob_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateSalesPriceByWageComponent">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateSalesPriceByWageComponent_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateUpdatePrincipalContactPerson">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateUpdatePrincipalContactPerson_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddProjDokToProforma">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddProjDokToProforma_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateEmployee">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="inputString" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateEmployee_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GetInvoicePictureCount">
    <part name="parameters" element="tns:GetInvoicePictureCount" />
  </message>
  <message name="GetInvoicePictureCount_Result">
    <part name="parameters" element="tns:GetInvoicePictureCount_Result" />
  </message>
  <message name="GetInvoicePicture">
    <part name="parameters" element="tns:GetInvoicePicture" />
  </message>
  <message name="GetInvoicePicture_Result">
    <part name="parameters" element="tns:GetInvoicePicture_Result" />
  </message>
  <message name="CreatePrognosisCC">
    <part name="parameters" element="tns:CreatePrognosisCC" />
  </message>
  <message name="CreatePrognosisCC_Result">
    <part name="parameters" element="tns:CreatePrognosisCC_Result" />
  </message>
  <message name="SetPrognosisToFixed">
    <part name="parameters" element="tns:SetPrognosisToFixed" />
  </message>
  <message name="SetPrognosisToFixed_Result">
    <part name="parameters" element="tns:SetPrognosisToFixed_Result" />
  </message>
  <message name="UpdatePrognosisCC">
    <part name="parameters" element="tns:UpdatePrognosisCC" />
  </message>
  <message name="UpdatePrognosisCC_Result">
    <part name="parameters" element="tns:UpdatePrognosisCC_Result" />
  </message>
  <message name="ProcessIPS">
    <part name="parameters" element="tns:ProcessIPS" />
  </message>
  <message name="ProcessIPS_Result">
    <part name="parameters" element="tns:ProcessIPS_Result" />
  </message>
  <message name="ReleaseHourAcc">
    <part name="parameters" element="tns:ReleaseHourAcc" />
  </message>
  <message name="ReleaseHourAcc_Result">
    <part name="parameters" element="tns:ReleaseHourAcc_Result" />
  </message>
  <message name="CreateSubProjectFromMainProject">
    <part name="parameters" element="tns:CreateSubProjectFromMainProject" />
  </message>
  <message name="CreateSubProjectFromMainProject_Result">
    <part name="parameters" element="tns:CreateSubProjectFromMainProject_Result" />
  </message>
  <message name="UpdatePriceToInvoiceInJob">
    <part name="parameters" element="tns:UpdatePriceToInvoiceInJob" />
  </message>
  <message name="UpdatePriceToInvoiceInJob_Result">
    <part name="parameters" element="tns:UpdatePriceToInvoiceInJob_Result" />
  </message>
  <message name="UpdateSalesPriceByWageComponent">
    <part name="parameters" element="tns:UpdateSalesPriceByWageComponent" />
  </message>
  <message name="UpdateSalesPriceByWageComponent_Result">
    <part name="parameters" element="tns:UpdateSalesPriceByWageComponent_Result" />
  </message>
  <message name="CreateUpdatePrincipalContactPerson">
    <part name="parameters" element="tns:CreateUpdatePrincipalContactPerson" />
  </message>
  <message name="CreateUpdatePrincipalContactPerson_Result">
    <part name="parameters" element="tns:CreateUpdatePrincipalContactPerson_Result" />
  </message>
  <message name="AddProjDokToProforma">
    <part name="parameters" element="tns:AddProjDokToProforma" />
  </message>
  <message name="AddProjDokToProforma_Result">
    <part name="parameters" element="tns:AddProjDokToProforma_Result" />
  </message>
  <message name="UpdateEmployee">
    <part name="parameters" element="tns:UpdateEmployee" />
  </message>
  <message name="UpdateEmployee_Result">
    <part name="parameters" element="tns:UpdateEmployee_Result" />
  </message>
  <portType name="ImdokWS_Port">
    <operation name="GetInvoicePictureCount">
      <input name="GetInvoicePictureCount" message="tns:GetInvoicePictureCount" />
      <output name="GetInvoicePictureCount_Result" message="tns:GetInvoicePictureCount_Result" />
    </operation>
    <operation name="GetInvoicePicture">
      <input name="GetInvoicePicture" message="tns:GetInvoicePicture" />
      <output name="GetInvoicePicture_Result" message="tns:GetInvoicePicture_Result" />
    </operation>
    <operation name="CreatePrognosisCC">
      <input name="CreatePrognosisCC" message="tns:CreatePrognosisCC" />
      <output name="CreatePrognosisCC_Result" message="tns:CreatePrognosisCC_Result" />
    </operation>
    <operation name="SetPrognosisToFixed">
      <input name="SetPrognosisToFixed" message="tns:SetPrognosisToFixed" />
      <output name="SetPrognosisToFixed_Result" message="tns:SetPrognosisToFixed_Result" />
    </operation>
    <operation name="UpdatePrognosisCC">
      <input name="UpdatePrognosisCC" message="tns:UpdatePrognosisCC" />
      <output name="UpdatePrognosisCC_Result" message="tns:UpdatePrognosisCC_Result" />
    </operation>
    <operation name="ProcessIPS">
      <input name="ProcessIPS" message="tns:ProcessIPS" />
      <output name="ProcessIPS_Result" message="tns:ProcessIPS_Result" />
    </operation>
    <operation name="ReleaseHourAcc">
      <input name="ReleaseHourAcc" message="tns:ReleaseHourAcc" />
      <output name="ReleaseHourAcc_Result" message="tns:ReleaseHourAcc_Result" />
    </operation>
    <operation name="CreateSubProjectFromMainProject">
      <input name="CreateSubProjectFromMainProject" message="tns:CreateSubProjectFromMainProject" />
      <output name="CreateSubProjectFromMainProject_Result" message="tns:CreateSubProjectFromMainProject_Result" />
    </operation>
    <operation name="UpdatePriceToInvoiceInJob">
      <input name="UpdatePriceToInvoiceInJob" message="tns:UpdatePriceToInvoiceInJob" />
      <output name="UpdatePriceToInvoiceInJob_Result" message="tns:UpdatePriceToInvoiceInJob_Result" />
    </operation>
    <operation name="UpdateSalesPriceByWageComponent">
      <input name="UpdateSalesPriceByWageComponent" message="tns:UpdateSalesPriceByWageComponent" />
      <output name="UpdateSalesPriceByWageComponent_Result" message="tns:UpdateSalesPriceByWageComponent_Result" />
    </operation>
    <operation name="CreateUpdatePrincipalContactPerson">
      <input name="CreateUpdatePrincipalContactPerson" message="tns:CreateUpdatePrincipalContactPerson" />
      <output name="CreateUpdatePrincipalContactPerson_Result" message="tns:CreateUpdatePrincipalContactPerson_Result" />
    </operation>
    <operation name="AddProjDokToProforma">
      <input name="AddProjDokToProforma" message="tns:AddProjDokToProforma" />
      <output name="AddProjDokToProforma_Result" message="tns:AddProjDokToProforma_Result" />
    </operation>
    <operation name="UpdateEmployee">
      <input name="UpdateEmployee" message="tns:UpdateEmployee" />
      <output name="UpdateEmployee_Result" message="tns:UpdateEmployee_Result" />
    </operation>
  </portType>
  <binding name="ImdokWS_Binding" type="tns:ImdokWS_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GetInvoicePictureCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:GetInvoicePictureCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetInvoicePictureCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetInvoicePictureCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetInvoicePicture">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:GetInvoicePicture" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetInvoicePicture">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetInvoicePicture_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreatePrognosisCC">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:CreatePrognosisCC" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePrognosisCC">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePrognosisCC_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetPrognosisToFixed">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:SetPrognosisToFixed" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetPrognosisToFixed">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetPrognosisToFixed_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdatePrognosisCC">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:UpdatePrognosisCC" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdatePrognosisCC">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdatePrognosisCC_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ProcessIPS">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:ProcessIPS" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ProcessIPS">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ProcessIPS_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReleaseHourAcc">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:ReleaseHourAcc" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReleaseHourAcc">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReleaseHourAcc_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateSubProjectFromMainProject">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:CreateSubProjectFromMainProject" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateSubProjectFromMainProject">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateSubProjectFromMainProject_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdatePriceToInvoiceInJob">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:UpdatePriceToInvoiceInJob" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdatePriceToInvoiceInJob">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdatePriceToInvoiceInJob_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateSalesPriceByWageComponent">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:UpdateSalesPriceByWageComponent" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateSalesPriceByWageComponent">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateSalesPriceByWageComponent_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateUpdatePrincipalContactPerson">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:CreateUpdatePrincipalContactPerson" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateUpdatePrincipalContactPerson">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateUpdatePrincipalContactPerson_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="AddProjDokToProforma">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:AddProjDokToProforma" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AddProjDokToProforma">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AddProjDokToProforma_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateEmployee">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/ImdokWS:UpdateEmployee" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateEmployee">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateEmployee_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ImdokWS">
    <port name="ImdokWS_Port" binding="tns:ImdokWS_Binding">
      <address location="http://no-sr-ap-85:7047/NO_NST_4PS_Test_2017_04_WS_NO/WS/Imtech%20Norge%20AS/Codeunit/ImdokWS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>